<main>
    <div class="container">
      <div class="row">
        <div class="col">
          <% user.forEach(item => { %>
            <td><%= item.username %></td>
          <% }) %>>
        </div>
      </div>
  </main>