<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%- include('../views/partials/head.ejs'); %>
    <title>link custom</title>
</head>
<body class="container">
    <header>
        <%- include('../views/partials/header.ejs'); %>
    </header>
    <%- body %> 
    <footer>
        <%- include('../views/partials/footer.ejs'); %>
    </footer>
</body>
</html>